body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  // color: #333;
  // font-weight: normal;
  font-family: $fontFamily;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
      outline: none;
  }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
  height: 100%;
  width: 100%;
  // background-color: #F5F5F5;
}
body{
  font-size: 16px;
}
// .scrollY{
//   height: calc(100% - 1.2rem);
//   overflow-y: scroll;
// }
// ******* 字体 *********
.f10{
  font-size: 10px;
}
.f11{
  font-size:11px;
}
.f12{
  font-size: 12px;
}
.f14{
  font-size: 14px;
}
.f15{
  font-size: 15px;
}
.f16{
  font-size: 16px;
}
.f17{
  font-size: 17px;
}
.f18{
  font-size: 18px;
}
.f19{
  font-size: 19px;
}
.f20{
  font-size: 20px;
}
.fb{
  font-weight: bold;
}
// ************* color  **************
.color-pri{
  color: $green;
}
.color-light{
  color: #aaa;
}
.color-white{
  color: #fff;
}
.lightGray{
  color: $lightGray;
}
.lightBlack{
  color: $lightBlack;
}
.lighterBlack{
  color: $lighterBlack;
}
.black{
  color: $black;
}
// **************** 间距 ************
.mb10{
  margin-bottom: 10px;
}
.ml10{
  margin-left: 10px;
}
 
.clear:after{
  content: '';
  display: block;
  clear: both;
}
.clear{
  zoom:1;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide{
  display: none;
}

.show{
  display: block;
}
.mask{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 14;
  width: 100%;
  height: 100%;
  // opacity: 0;
  animation: maskOpacity 0.3s ease-in;
  background-color: rgba($color: #000000, $alpha: .7);
}

.noselect{
  user-select:none;
}
// ************* animation  *************
.slide-enter-active, .slide-leave-active  {
  transition: all .4s ease;
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(100%);
}


@keyframes maskOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: .7;
  }
}
/* topEnter */
.topEnter {
  animation: topEnter 0.3s ease-in-out;
}
@keyframes topEnter{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
.topLeave {
  animation: topLeave 0.3s ease-in-out;
}
@keyframes topLeave{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
}
/* opacity  */
.opacityEnter {
  animation: opacityEnter 0.3s ease-in;
}
@keyframes opacityEnter{
  0%{
    opacity: 0;
  }
  100%{
    opacity: .7;
  }
}
.opacityLeave {
  animation: opacityLeave 0.3s ease-out;
}
@keyframes opacityLeave{
  0%{
    opacity: .7;
  }
  100%{
    opacity: 0;
  }
}