$fontFamily: system, Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headerH: 1.2rem;

$black: #222;
$lightBlack: #666;
$lighterBlack: #999;

$gray: #ccc;
$lightGray: #ddd;

$yellow: #E3A428;
$green: #017959;

@mixin flexCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
$h1: 0.42rem;
$h2: 0.36rem;
$h3: 0.32rem;
$h4: 0.30rem;
$h5: 0.28rem;
$h6: 0.26rem;